.search-form {
    padding: 20px;
}

.form {
    padding: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: 4px;
}

.form-row label {
    width: 150px;
    margin-right: 10px;
    color: #333;
}



.toolbar {
    margin-bottom: 10px;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin: 20px 0;
}