@page "/vehicle/{VehicleId:int}"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Navigations

<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem IconCss="e-icons e-home" Url="/" />
        <BreadcrumbItem Text="車両管理" Url="/vehiclelist" />
        <BreadcrumbItem Text="編集" Url="./" />
    </BreadcrumbItems>
</SfBreadcrumb>

<h2>車両管理</h2>
<h3>編集</h3>
@if (_initialized)
{
    @if (_item != null)
    {
        <VehicleForm Item="_item" Clients="_clients" VehicleCategories="_vehicleCategories" OnClickOK="OnClickOK" OnClickDelete="OnClickDelete" />
    }
    else
    {
        <p class="error-message">車両情報が見つかりません。</p>
    }
}

@code {
}